.navbar {
    padding-top: 25px;
    background-color: darkgrey;
}

.navbar-header span{
    font-size: 1.5em;
    font-weight: bold;
}

#our-menu{
    font-size:1.8em;
    margin-bottom:50px;
    font-weight: bold;
}
  
.menu-text {
    font-size: .9em;
    font-weight: normal;
    text-align: left;
  }

/* #main-content {
    background-color: darkgrey;   
} */

#menu-details {
    background-color: darkgrey; 
}
h3.menu-item-title{
    font-weight: bold;
}

#nav-list {
    text-align:center;
}
